@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GabaritoReguler";
  src: url("../../public/gabarito-font/fonts/ttf/Gabarito-Regular.ttf") format("truetype"); /* Adjust the path accordingly */
  font-weight: normal;
  font-style: normal;
}
.dt-search{
  width:fit-content!important;
}

#tableRutin_wrapper .grid .justify-self-end{
  display: flex !important;
  justify-content: end !important;
}
#tableTemporer_wrapper .grid .justify-self-end{
  display: flex !important;
  justify-content: end !important;
}